<!DOCTYPE html>
<html>

<head>

    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='login.css') }}">

</head>

<body>

<div class="main-box">

    <div class="login-box">

        <h1>Create Account</h1>

        <form method="POST">

            <div class="input-box">

                <input type="email"
                       name="email"
                       placeholder="Email ID"
                       required>

            </div>

            <div class="input-box">

                <input type="password"
                       name="password"
                       placeholder="Password"
                       required>

            </div>

            <button type="submit">
                Register
            </button>

        </form>

    </div>

</div>

</body>
</html>